{% extends 'base.html' %}
{% block content %}
<section class="p-5">
    <div class="container">
        <h2>AWS S3 Object Upload Status</h2>
    </div>
</section>
<section class="p-5">
    <div class="container">
        <div class="text-start mb-3">
            Here's the status of object upload to AWS S3 bucket:
        </div>     
        {% if response == None %}
            <div class="text-start bg-success p-3">
                Success
            </div>
        {% else %}
            <div class="text-start bg-danger p-3">
                {{response}}
            </div>
        {% endif %}   
    </div>
</section>
{% endblock %}